<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/gatitos.css">
  <title>Document</title>
</head>

<body>
  <%- include('partials/header') %>
    <main>
        <% if(!usuario) { %>
      <table class="tabla">
        <thead>
          <tr>
            <th colspan="3">Pergaminos</th>
          </tr>
          <tr>
            <th>Clan</th>
            <th>Titulo</th>
            <th>Texto</th>
          </tr>
        </thead>
        <tbody>
          <% pergaminos.forEach(pergamino => { %>
            <tr>
              <td>
                <%= pergamino.clan %>
              </td>
              <td>
                <%= pergamino.titulo %>
              </td>
              <td>
                <%= pergamino.texto %>
              </td> 
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } elseif {%>
    </main>

    <%- include('partials/footer') %>
</body>

</html>